.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Projects Component Styles */

.projects-wrapper {
  display: flex;
  flex-direction: row;
  width: 85vw;
  margin: 0 auto;
  justify-content: center;
}

.project-header h1 {
  font-weight: 200;
  color: #2477b0;
}

/* Resume Component Styles */
.resume-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.resume-main {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: space-evenly;
  margin: 0 auto;
}

.work-logo img {
  height: 8vh;
}

.work-logo {
  width: 40%;
}

.work-description {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: left;
}

/* About Component Styles */
.about-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85vw;
  margin: 0 auto;
  text-align: left;
  padding: 2rem;
}

/* footer styles */
.footer-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  background-color: #5a6274;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
}

.footer-main span {
  color: white;
  font-weight: 200;
  padding: 1rem;
}

/* contact styles */

.contact-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.contact-icon-wrapper {
  display: flex;
  flex-direction: row;
  width: 25%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
